name: Release
on:
  push:
    tags:
      - v*
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: Install (ignore scripts)
        run: npm ci --ignore-scripts
      - name: Build
        run: npm run build
  publish-github:
    name: Publish GitHub
    needs: [ test ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14.x'
        registry-url: 'https://npm.pkg.github.com'
        scope: '@strongishllama'
    - name: Install (ignore scripts)
      run: npm ci --ignore-scripts
    - name: Build
      run: npm run build
    - name: Publish
      run: |
        echo //npm.pkg.github.com/:_authToken=\${NPM_TOKEN} >> .npmrc
        npm publish
      env:
        NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish-npm:
    name: Publish NPM
    needs: [ publish-github ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14.x'
        registry-url: 'https://registry.npmjs.org'
        scope: '@strongishllama'
    - name: Install (ignore scripts)
      run: npm ci --ignore-scripts
    - name: Build
      run: npm run build
    - name: Publish
      run: npm publish
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  release:
    name: Release
    needs: [ publish-npm ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Release
      run: gh release create ${GITHUB_REF#refs/*/} --title ${GITHUB_REF#refs/*/}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
